<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>EventeX - Aguarde o maior evento de todos os tempos!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="@fabiopalm">

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="80">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/" rel="tooltip" title="teste">EventeX<span class="icon-share-alt"></span></a>
				<div class="nav-collapse" id="main-menu">
					<ul class="nav pull-right" id="main-menu-right">
						<li><a rel="tooltip" target="_blank" href="/#cadastre-se">Cadastre-se (em breve)</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
    <div class="container">
        <div id="page">
            <div id="content">
                <a id="main-content"></a>
                <div>
                  <div class="hero-unit">
                        <h1>O maior evento do mundo!</h1>
                        <p>Depois do Dev in Rio, o eventex é o maior evento de tecnologia, astronomia, gastronomia, teologia, minerologia, hipisterlogia da face da terra!</p>
                  </div>
                  <div class="row-fluid">
                    <div class="span4">
                      <h2>Info</h2>
					  <p>Para dúvidas e mais informações entre em contato com <a href="mailto:eventex@eventex.com.br">eventex@eventex.com.br</a></p>
                    </div>
                    <div class="span4">
                      <h2>Venha</h2>
                      <p>Você não pode perder esta grande oportundade! Abertura das inscrições em 20/01/2013.</p>
                    </div>
                    <div class="span4">
                        <img src="{{ STATIC_URL }}imgs/logo_e.png" />
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>